.layout {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 5em;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.footer {
    position: absolute;
    bottom: 1;
    width: 50%;
    height: 2.5rem;
    z-index: 2;
}