.skater-map {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.modal {
    display: 'flex';
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

@media (max-width: 1200px){
    .modal {
        width: 100%;
    }
}

.modal:focus {
    outline: none;
}

.modal-child {
    background-color: white;
}

*:focus {
    outline:none;
}