.user-list {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.user-list-row {
    display: flex;
    padding: 2px;
}

.user-list-row-header{
    display: flex;
    padding: 2px;
    border-bottom: 1px dashed palegreen;
}

.user-list-row-alias {
    flex: 1
}

.user-list-row-time {
    flex: 2
}

.user-list-row-coords {
    flex: 2
}
